@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
  
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

form {
    display: grid;

    grid-template: repeat(3, 1fr) / 1fr 1.5fr .5fr;
    background-color: #C7EFCF;

    height: 100%;
}

.hidden-form {
    display: none;
}

.shown {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

.title,
.deadline,
.priority {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-left: 24px;

    grid-column: 1 / 2;
}

form > label {
    font-weight: 550;
}

form > label > * {
    background-color: white;
    border: none;
    border-radius: 4px;
}

form > label > *:focus {
    outline: none;
}

#submit {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    align-self: flex-end;

    width: 110px;
    height: 45px;

    border-radius: 12px;
    border: none;
    box-shadow: 0 0 4px 3px lightblue;

    font-weight: 600;
    background-color: #6acafc;
    color: white;
}

#submit:hover {
    box-shadow: 0 0 10px 4px white;
    transition: 0.6s;
    cursor: pointer;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    grid-row: 1 / -1;
    grid-column: 2 / 3;

    gap: 10px;
}

textarea#description {
    resize: none;
}

.title {

}

.deadline {

}

.priority {

}