.projContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.project {
    display: grid;
    grid-template: 1fr / 0.2fr 2.5fr 1fr 1fr;
    grid-template-areas:
    "checkbox title deadline options";

    /* background-color: #ffffff; */
    box-shadow: 0 2px 4px 2px lightgray;
    
    height: 30%;
    width: 87%;
    padding: 16px;
    
    border-radius: 12px;
    border: none;
}


.project p {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;

    border: 1px solid lightgrey;
    border-radius: 6px;
    margin: 0px 6px;

    background-color: white;
}

.complete {
    grid-area: checkbox;
    justify-self: center;
    align-self: center;
    width: 50%;
    height: 50%;
}

.proj-title {
    grid-area: title;
}

.deadline {
    grid-area: deadline;
}

.options {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-area: options;
}

.options > img {
    height: 26px;
    width: 26px;
}