.projContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.project {
    display: grid;
    grid-template: 1fr / 3fr 1fr 1fr;

    background-color: lightblue;
    padding: 16px;

    height: 30%;
    width: 87%;
    
    border: 1px solid black;
}


.title,
.deadline,
.options {
    grid-row: 1 / 2;
}


.project p {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;

    border: 1px solid black;
}