@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-style: normal;
}

.task-modal * {
    border-radius: 16px;
}

.task-form {
    display: grid;
    grid-template: repeat(6, 1fr) / 1fr;

    justify-items: center;

    height: 600px;
    width: 600px;

    background-color: #e5e5e5;
}

.task-header {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 12px;

    width: 100%;
    height: 100%;
}

.task-header > button {
    width: 70px;
    height: 30px;

    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease 0s;
    letter-spacing: 1.5px;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: rgb(65, 65, 65);
}

.task-header > button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 6px 16px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

button.new {
    background-color: #fa9856;
}

button.save {
    background-color: #7dd87d;
}

button.edit {
    background-color: #6eaff7;
}

.task-form > textarea {
    border: none;

    height: 60%;
    width: 80%;

    padding: 12px;

    resize: none;
}

.task-form > textarea:focus {
    outline: none;
}