@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-style: normal;
}

.task-modal * {
    border-radius: 16px;
}

.task-form {
    display: grid;
    grid-template: repeat(6, 1fr) / 1fr;

    justify-items: center;

    height: 600px;
    width: 600px;

    background-color: #dddddd;
}

.task-header {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 12px;

    width: 100%;
    height: 100%;
}

.task-header > button {
    width: 70px;
    height: 30px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease 0s;
    letter-spacing: 1.5px;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: rgb(68, 63, 63);
}


/* Button hover / transition effects by: https://codepen.io/seme332 */
.task-header > button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 6px 16px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

button.new {
    background-color: #7dd87d;
}

button.edit {
    background-color: #6eaff7;
}

.task-form > textarea {
    height: 30%;
    width: 80%;
    border: none;
    border-radius: 6px;
    padding: 8px;
    resize: none;
    box-sizing: border-box;
    overflow: hidden;
    transition: all 0.3s ease 0s;
}

.task-form > textarea:hover {
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    color: #fff;
    transform: translateY(-3px);
    cursor: pointer;
}

.task-form > textarea:focus {
    outline: none;
}