@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-style: normal;
}

.task-modal * {
    border-radius: 16px;
}

.task-display {
    display: grid;
    grid-template: repeat(6, 1fr) / 1fr;
    
    height: 600px;
    width: 600px;
}

.task-details,
.task-display {
    justify-items: center;
    background-color: #dddddd;
}

.task-header {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 12px;

    width: 100%;
    height: 100%;
}

.task-header > button {
    width: 70px;
    height: 30px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease 0s;
    letter-spacing: 1.5px;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: rgb(68, 63, 63);
}


/* Button hover / transition effects by: https://codepen.io/seme332 */
.task-header > button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 6px 16px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

button.new {
    background-color: #7dd87d;
}

button.remove {
    width: 84px;
    background-color: #6eaff7;
}

.task-display > textarea {
    height: 30%;
    width: 80%;
    border: none;
    border-radius: 6px;
    padding: 8px;
    resize: none;
    box-sizing: border-box;
    overflow: hidden;
    transition: all 0.3s ease 0s;
}


.task-display > textarea:hover {
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    color: #fff;
    transform: translateY(-3px);
    cursor: pointer;
}

.task-display > textarea:focus {
    outline: none;
}

#task-display > p {
    width: 80%;
    height: 25%;
    background-color: white;
    color: #3c4245;

    text-align: center;

    font-size: 20px;
    font-weight: 600;
    padding: 8px 18px;

    transition: all 250ms;
}

#task-display > p:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0 2px 6px;
    transform: translateY(-2px);
    cursor: pointer;
}

/* Task detail styling */

.task-details {
    display: grid;
    position: relative;

    grid-template: 1fr 4fr 1fr / 1fr;
    align-items: center;

    height: 300px;
    width: 600px;

    padding: 8px;
}

.task-details > .exit-details {
    position: absolute;

    width: 30px;
    height: 30px;
    right: -12px;
    top: -12px;

    border: none;
    font-weight: 600;
    text-align: center;
    color: white;
    background-color: #f95959;

    transition: all 250ms;

    padding: 0;
}

.task-details > .exit-details:hover,
.task-details > .create-task:hover,
.task-details > .save-task:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0 4px 10px;
    cursor: pointer;
}

.exit-details:hover {
    color: #f95959;
    background-color: white;
    transform: translateY(-1px);
}

.task-details > .title {
    grid-row: 1 / 2;
    height: 24%;
    width: 60%;
}

.task-details > .details {
    grid-row: 2 / 3;
    height: 50%;
    width: 80%;
}

.title,
.details {
    padding: 8px;
    resize: none;
    grid-column: 1 / 2;
    overflow: hidden;
    border-radius: 6px;

    border: none;
}

.title:focus,
.details:focus {
    outline: none;
}

.task-details > .create-task,
.task-details > .save-task {
    grid-row: 3 / 4;
    height: 30px;
    border: none;
    
    color: white;

    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;

    padding: 2px 8px;

    transition: all 250ms;
}

.task-details > .create-task {
    background-color: #6eaff7;
    width: 140px;
}

.task-details > .save-task {
    background-color: #f0d43a;
    width: 120px;
}

.create-task:hover,
.save-task:hover {
    color: #7dd87d;
    background-color: white;
    transform: translateY(-2px);
}

#task-display > p.remove-mode {
    background-color: red;
}